@media only screen and (min-width:1200px){
   .container .intro{
     font-size:2em;
   }
 .txt{
    top:59%;
    font-size:2.1875em;
  
  }
}



@media only screen and (min-width:980px){
   .container .intro{
     font-size:2.8125em;
   }
 .container .intro .m{
    display:inline-block;
  }
  .txt{
    top:53%;
    font-size:2.1875em;
  
  }
.service .container .service-heading{
    color:blue;
    font-size:5px;
  }
}


/*MOBILE VIEW*/
@media screen and (max-width:768px){
  .navbar-nav{
    position:fixed;
    top:0%;
    left:0%;  
    width:100%;
    height:100vh;
    background:linear-gradient(3deg,#b75dde,#8373e9);
    flex-direction:column;
      align-content:center;
    -clip-path:circle(100px at 90% -20%);
    -webkit-clip-path:circle(100px at 90% -20%);
    transition:all 1s ease-out;
    pointer-events:none;
  }
  
   .navbar-nav.open{
       -clip-path:circle(3000px at 90% -20%);
    -webkit-clip-path:circle(1000px at 90% -20%);
    pointer-events:all;
   }
  .line{
    width:30px;
    height:3px;
    background:#fff;
    margin:5px;
  }
  nav{
    position:relative;
  }
  .hamburger{
    pointer-events: cursor;
    z-index:2;
  }
  .nav-link{
    color:#eefbfe;
    padding:30px;
   margin-left:130px;
 
  }
  .nav-item{
    opacity:0;
  }
  
   .nav-item:nth-child(1){
     transition:all .5s ease .2s;
   }
   
   .nav-item:nth-child(2){
       transition:all .5s ease .4s;
   
   }
 .nav-item:nth-child(3){
     transition:all .5s ease .6s;
   
     
   }
 .nav-item:nth-child(4){
       transition:all .5s ease .8s;
   
   }
 .nav-item.fade{
   opacity:1;
 }
 .header-btn{
   left:28%;
   top:35%;
   background:#fff;
 }
 .header-btn a{
   color:#69848b;
 }
 .header-btn a:hover{
     color:#e8f9fde6;
 }
}
  
 
